<h1>{{Week}} Sales Data</h1>


	<table class="table-responsive">
		<thead>
			<th>Descrption</th>
			<th>Product</th> 
			<th>Quantity</th>		  
		</thead>
	    <tbody>
			{{#sales}}
				<tr>
					<td><h2>{{desc}}</h2><td>
				    <td><h2>{{product}}{{category}}</h2></td> 
				    <td><h2>{{quantity}}</h2></td>
				</tr>
			{{/sales}}
		</tbody>
	</table>

	<h1>Profit Table</h1>
	<table class="table-responsive">
		<thead>
				<th>Descrption</th>
				<th>Product</th> 
				<th>Profit</th>
				
				  
		</thead>
	    <tbody>
			{{#profit}}
				<tr>
					<td><h2>{{desc}}</h2><td>
				    <td><h2>{{product}} {{category}}</h2></td> 
				    <td><h2>R{{profitAmount}}</h2></td>
				</tr>
			{{/profit}}
			</tbody>
		</table>


